/* Styles for validation helpers
-----------------------------------------------------------*/
body
{
    font-family: Verdana, sans-serif;
}
table
{
    width: 100%;
}
th
{
    font-weight: bold;
    border-bottom: 1px solid black;
}
fieldset
{
    width: 800px;
    margin: 0 auto;
}
h2
{
    font-size: larger;
    font-weight: bold;
}
.MainContent
{
    width: 800px;
    margin: 0 auto;
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
.display-label, .editor-label
{
    float: left;
    width: 200px;
}
.display-field, .editor-field
{
    float: right;
    width: 600px;
    min-height: 20px;
}
